<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace = "com.team5101.mapper.pqwMapper">
		<select id="findCustomerById" parameterType="Integer"
		resultType="com.team5101.po.pqw_stu">
			select * from t_stu where id = #{id}
		</select>
		<select id="findCustomerBySgrade" parameterType="Integer"
		resultType="com.team5101.po.pqw_stu">
			select * from t_stu where sgrade like #{sgrade}
		</select>
		<insert id="addCustomer" parameterType="com.team5101.po.pqw_stu">
			insert into t_stu(sno,sname,sgrade)
			values (#{sno},#{sname},#{sgrade})
		</insert>
		<update id="updateCustomer" parameterType="com.team5101.po.pqw_stu">
			update t_stu set
			sno = #{sno},sname= #{sname},sgrade=#{sgrade} 
			where id=#{id}
		</update>
		<delete id="deleteCustomer" parameterType="Integer">
			delete from t_stu where id=#{id}
		</delete>
		<select id="findUser" parameterType="com.team5101.po.User"
		resultType="com.team5101.po.User">
			select * from user where user_name = #{user_name} and passwd = #{passwd};
		</select>
		<update id="updateUser" parameterType="com.team5101.po.User">
			update user set
			passwd = #{passwd}
			where user_name= #{user_name}
		</update>
		<select id="findId" parameterType="Integer" resultType="com.team5101.po.Books">
			select * from book where id=#{id}
		</select>
	</mapper>